/* Navbar */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 12px 5px;
    z-index: 10;
    color: whitesmoke;
  }
  
  .logo {
    font-family: var(--ff-rubik-dirt);
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    padding: 0 1.2rem;
    font-weight: 300;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  .nav-links li {
    font-family: var(--ff-montserrat);
    margin: 0px 15px;
  }
  
  .nav-links li a {
    color: white;
    cursor: pointer;
  }
  
  .cir_border {
    padding: 6px 20px;
    font-weight: bold;
    border: 2px hidden whitesmoke;
    border-radius: 20px;
  }